.fashion-shop-body {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  background-color: $white;
  box-shadow: 10px 10px 23px -15px rgba(0, 0, 0, 0.75);
}
.fashion-shop-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  &__card {
    width: 23%;
    height: auto;
    max-width: 960px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 1px solid $grey;
  }
}

@include tablet {
  .fashion-shop-list {
    &__card {
      width: 47%;
    }
  }
}

@include mobile {
  .fashion-shop-list {
    &__card {
      width: 97%;
    }
  }
}
